<div class="page-header">
  <h1>Subscription Details</h1>
</div>
<a ng-href="/subscriptions" class="btn btn-default">Back</a>
<div>
  <h2>{{subscription.subscriptionData.title}}</h2>
  <img ng-src="{{subscription.subscriptionData.image.url}}" width=200 height=200/>
  <p>Link:
    <a href={{subscription.subscriptionData.link}}>
      {{subscription.subscriptionData.link}}</a>
  </p>
  <p>{{subscription.subscriptionData.description}}</p>
  <p>Date:
    {{subscription.subscriptionData.Date}}</p>

  <uib-accordion close-others="false">
    <uib-accordion-group ng-repeat="item in subscription.subscriptionData.articles" is-open="status.open">
      <uib-accordion-heading>
        <i class="glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i> <strong>{{item.title}}:</strong> {{item.pubdate | date: 'medium'}} 
      </uib-accordion-heading>
      <div data-ng-bind-html="item.description"></div>

        <p>
          <a href={{item.origlink}}>{{item.origlink}}</a>
        </p>
    </uib-accordion-group>
  </uib-accordion>
</div>
